<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head-beta') %>
	</head>
	
	<body>
        <h3>Beta</h3>

        <div id="calendar"></div>
        
        <script type="text/javascript">
            $(document).ready(function() {
                var calendar = $("#calendar").calendar({
                    // events_source: [{
                    //     "id": 293,
                    //     "title": "Event 1",
                    //     "url": "http://example.com",
                    //     "class": "event-important",
                    //     "start": 1497542400000, // Milliseconds
                    //     "end": 1497801600000 // Milliseconds
                    // }]
                    events_source: '/api/events',
                    tmpl_path: 'bower_components/bootstrap-calendar/tmpls/'
                });
            });
        </script>
	</body>
</html>
