<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js'></script>
		<script src='javascripts/app.js'></script>
		<script src='javascripts/controllers.js'></script>
		<script src='javascripts/services.js'></script>
  </head>

  <body ng-app='musicRoomBooking'>

		<div class='container'>

			<div class='jumbotron text-center'>
				<h1>CIS Music Room Booking</h1>
			</div>

			<div class='row'>

				<div class='col-sm-6'>
					<a href='https://docs.google.com/spreadsheets/d/15lIZjkAwgvjxTo01hWJIs87Pc8_HwmTwdC_hZ3hDm_M/edit#gid=0'><img src='images/spreadsheet-button.png' alt='Music room booking spreadsheet'></a>
				</div>

				<div class='col-sm-6'>
					<div id='booking-form-container'>
						<div id='booking-form'>
							<form ng-controller='BookingFormCtrl' ng-submit='submit()'>
								<label>Name:<br><input type='text' ng-model='form.name'></label><br><br>

								<label>Date:<br><input type='date' min='{{today}}' max='{{twoWeeks}}' ng-model='form.date'><br><br>

								<label>Time:<br><select ng-model='form.time'>
									<option value='0'>P3 // 10:40-11:05</option>
									<option value='1'>P4 // 11:05-11:30</option>
									<option value='2'>Lunch // 12:50-1:40</option>
									<option value='3'>After School // 3:00-4:15</option>
									<option value='4'>After School // 4:15-5:15</option>
									<option value='5'>After School // 5:15-6:15</option>
								</select></label><br><br>

								<label>Room:<br><select ng-model='form.room'>
									<option value='0'>Room 410B</option>
									<option value='1'>Room 410C</option>
									<option value='2'>Room 410F</option>
									<option value='3'>Room 410G</option>
								</select></label><br><br>

								<input type='submit' value='Submit'>
							</form>

							<p>{{message}}</p>
						</div>
					</div>
				</div>

			</div>

		</div>
  </body>
</html>
