body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

	background: url("../images/background-image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
  color: #00B7FF;
}

#jumbotron {
	background: #941103;
	padding: 30px;
	border-radius: 30px;
}

#heading-container {
	background: #FFFFFF;
	padding: 50px;
	border-radius: 30px;
}

#spreadsheet-button-container {
	margin-top: 15px;
}

#booking-form-container {
	background: #941103;
	padding: 25px;
	border-radius: 30px;
	margin-top: 15px;
}

#booking-form {
	background: #FFFFFF;
	padding: 50px;
	border-radius: 30px;
}
